.main {
    padding: 0 10%;

    &__bungkus {
        display: flex;
    }

    &__card-covid {
        flex-grow: 1;
        margin: 0 2%;
        margin-top: -14%;
        height: 13rem;
        position: relative;
        z-index: 9;
        text-align: center;
        color: $second;
        box-shadow: 0 0 1.8rem rgba(0, 0, 0, .2);

        &:nth-child(1) {
            background: #4160CC;
        }

        &:nth-child(2) {
            background: -webkit-linear-gradient(to right, #52D196, #43D28F);
            background: linear-gradient(to right, #52D196, #43D28F);
        }

        &:nth-child(3) {
            background-color: #e74d4d;
        }
    }

    &__text-status {
        margin-top: 14%;
        font-size: 1.9rem;
    }

    &__text-angka {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    &__text-ina {
        margin-top: 10rem;
        color: $primary;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-left: 11rem;
    }

    &__card-indo {
        display: flex;
        margin-bottom: 25rem;

        &-ok {
            flex-grow: 1;
            text-align: center;
            padding-top: 10rem;
            font-size: 3rem;
            color: $primary;

            &:nth-child(2) {
                color: #52D196;
            }

            &:nth-child(3) {
                color: #e74d4d;
            }
        }

    }
}